@media  (min-width: 768px ) and (max-width:991px) { /* Tablet */



nav {
    justify-content: space-between;
    padding: 0 30px;
}

nav li {
    padding-right: 30px;
}

section#search {
    padding: 30px;
}

.form__button_icon {
    display: none;
}

#hebergements {
    flex-direction: column-reverse;
}

#activites {
    padding: 50px 30px;
}

.cards__activites {
    height: 200px;
    width: 0;
}

}