@media (min-width: 992px) {

    /* Desktop */
    nav {
        justify-content: space-between;
    }

    nav a {
        padding: 0 30px;
        border-top: 2px solid white;
        height: 80px;
    }

    nav a:hover,
    nav a.active {
        border-top: 2px solid;
    }

    nav img {
        padding-left: 30px;
    }

    nav ul {
        justify-content: space-between;
    }

    main {
        padding: 0 30px;
    }

    .form {
        width: 318px;
    }

    .form__button_icon {
        display: none;
    }

    .fliters span {
        margin-right: 15px;
        padding-right: 20px;
    }

    .blockgris {
        border-radius: 19px;

    }

    .hebergement__aside.blockgris {
        width: 40%;
        min-width: 300px;
    }


    .cards__activites.moit {
        flex: 0.5;
    }
    .cards__activites.moit2 {
        flex: 0.6;
    }

    .activites__content {
        height: 300px;
    }
    
    .cards__activites {
        height: 100%;
    }

    #activites {
        padding: 40px 0;
    }
}